nav {
  display: flex;
  justify-content: center;
  gap: 12rem;
  padding: 0.5rem 5%;
  background-color: #3e2723;
  border-top: 2px solid white;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #f5c16c;
}

